
@using System.Dynamic;

@{
    /*
    COMMENTS




    */

      Page.Title ="Detail";
      var id=int.Parse(UrlData[0]);
      var emp = dataAccess.GetEmployeeById(id);

}


@section CSS {
    <!--OPTIONAL SECTION, PAGE SPECIFIC CSS-->
}
@section SectionName {
    <section class="">

        <!--OPTIONAL SECTION-->
    </section>
}
<h2>@Page.Title</h2>

<div class="row">
    <div class="span9">
        <!--PAGE CONTENT-->
        <fieldset>
            <legend>@emp.LastName, @emp.FirstName</legend>

            <label for="Company"
                   class="span2">Company: </label>
            <input type="text"
                   class="span3"
                   name="Company"
                   value="@emp.Company" />
            <br />
            <label for="LastName"
                   class="span2">Last Name: </label>
            <input type="text"
                   name="LastName"
                           class="span3"
                   value="@emp.LastName" />
            <br />
            <label for="FirstName"
                   class="span2">First Name: </label>
            <input type="text"
                   name="FirstName"
                           class="span3"
                   value="@emp.FirstName" />
            <br />
            <label for="Email"
                   class="span2">Email: </label>
            <input type="text"
                   name="Email"
                           class="span3"
                   value="@emp.Email" />
            <br />
            <label for="JobTitle"
                   class="span2">Job Title: </label>
            <input type="text"
                   name="JobTitle"
                           class="span3"
                   value="@emp.JobTitle" />
            <br />
            <label for="Mobile"
                   class="span2">Mobile: </label>
            <input type="text"
                   name="Mobile"
                           class="span3"
                   value="@emp.Mobile" />
            <br />
            <label for="Web"
                   class="span2">Web: </label>
            <input type="text"
                   name="Web"
                           class="span3"
                   value="@emp.Web" />
            <br />
            <label for="Notes"
                   class="span2">Notes: </label>
            <textarea cols="40"
                      rows="4"
                           class="span3"

                      name="Notes">@emp.Notes</textarea>
            <br />
           
            <br />
        </fieldset>

    </div>
    <div class="span3">
        <!-- IMAGE DISPLAY -->
    </div>
</div>
@section Scripts {
    <!--OPTIONAL SECTION, PAGE SPECIFIC JAVASCRIPT-->
}
