@{
   var theYear = DateTime.Now.Year;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
       

        <link type="text/css"
              rel="stylesheet"
              href="../content/bootstrap.css">

        <link type="text/css"
              rel="stylesheet"
              href="../css/stickyfooter.css">
        <link rel="shortcut icon"
              href="favicon.ico">
        @RenderSection("CSS", required: false)

    </head>
    <body>
        <div id="container">
            <div id="wrap">
                <div id="top">
                    <ul class="nav nav-tabs ">
                        <li>
                            <a href="index.cshtml">Index
                                <span class="divider"></span></a></li>
                        <li>
                            <a href="Add.cshtml">Add
                                <span class="divider"></span></a></li>
                        <li>
                            <a href=" Edit.cshtml">Edit
                                <span class="divider"></span></a></li>
                        <li>
                            <a href="Delete.cshtml">Delete
                                <span class="divider"></span></a></li>
                    </ul>
                </div>
                @RenderSection("SectionName", required: false)
                @RenderBody()
                <div id="bottom">
                    <div id="foot">
                &#169; @theYear - All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
        <script src="js/bootstrap.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
