@using System.Dynamic;

@{
      Page.Title ="Process Edit";
    
    // if (IsPost) {
        //var id=int.Parse(Request["projectID"]);

          dynamic item = new ExpandoObject();
    item.projectName = Request["projectName"];
    item.client = Request["client"];
    item.description = Request["description"];
    item.projectType = Request["projectType"];
    item.tools = Request["tools"];
    item.publicView = Request["publicView"];
    item.projectID = int.Parse(UrlData[0]);

    dataAccess.UpdateProject(item);
                         //   }

          Response.Redirect("~/Index.cshtml");
}

<h3>Validate Entry</h3>
        Project ID: @item.projectID <br/>
        Project: @item.projectName <br />
        Client: @item.client <br />
        Description: @item.description <br />
        Project Type: @item.projectType <br />
        Tools: @item.tools <br />
        Public: @item.publicView <br />
            